<h1>Skills And Tools</h1>
{% load static %}
<div class="row">
        <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-5">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Python logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/python_qwwpex">
                <p class="font-weight-normal pt-2 mb-0">Python</p>
            </div>
        </div>
        </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-6">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Django logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/django_sgm62v">
                <p class="font-weight-normal pt-2 mb-0">Django</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-6">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Flask Logo"
                     src="{%static 'portfolio/skills/flask.png' %}">
                <p class="font-weight-normal pt-2 mb-0">Flask</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Ruby logo"
                     src="{%static 'portfolio/skills/ruby.png' %}">
                <p class="font-weight-normal pt-2 mb-0">Ruby</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="VS Code logo"
                     src="{%static 'portfolio/skills/rails.png' %}">
                <p class="font-weight-normal pt-2 mb-0">Rails</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="HTML logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/html5_j1ggtf">
                <p class="font-weight-normal pt-2 mb-0">HTML</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-2">
        <div class="competence-card text-center bg-text">
             <div class="card-body">
                <img class="competence-img" alt="CSS logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/css_rjs4dx">
                <p class="font-weight-normal pt-2 mb-0">CSS</p>
             </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-3">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="JavaScript logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/javascript-js-seeklogo.com_fv74oo">
                <p class="font-weight-normal pt-2 mb-0">JavaScript</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-4">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Bootstrap logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/bootstrap_gqvmtv">
                <p class="font-weight-normal pt-2 mb-0">Bootstrap</p>
            </div>
        </div>
    </div>




    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-7">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="C logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/c_j8m7hb">
                <p class="font-weight-normal pt-2 mb-0">C</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-8">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Linux logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/linux_utgssw">
                <p class="font-weight-normal pt-2 mb-0">Linux</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-9">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Git logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/git_s7jvap">
                <p class="font-weight-normal pt-2 mb-0">Git</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-10">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="GitHub logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/github_lbprja">
                <p class="font-weight-normal pt-2 mb-0">GitHub</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="VS Code logo" src="https://res.cloudinary.com/djr3obtg6/image/upload/v1/media/competence/visual-studio-code-seeklogo.com_xdrah1">
                <p class="font-weight-normal pt-2 mb-0">VS Code</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="Postman logo"
                     src="{% static 'portfolio/skills/postman.png' %}">
                <p class="font-weight-normal pt-2 mb-0">Postman</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                <img class="competence-img" alt="mysql"
                     src="{% static 'portfolio/skills/mysql.png' %}">
                <p class="font-weight-normal pt-2 mb-0">MYSQL</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2 col-sm-6 justify-content-center mt-3" data-toggle="modal" data-target=".competance-model-12">
        <div class="competence-card text-center bg-text">
            <div class="card-body">
                 <img class="competence-img" alt="Postgres Logo"
                     src="{%static 'portfolio/skills/postgres.png' %}">
                <p class="font-weight-normal pt-2 mb-0">Postgres</p>
            </div>
        </div>
    </div>

</div>